.nav {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    padding: 0 5%;
    height: 75px;
    background-color:black;
    display:flex;
    justify-content: space-between;
   
}

.links-wrapper>.logo {
    margin-right: auto;
    float: left;
   

    
}
.explore {
    position: absolute;
    top:7%;
    left:14%;
    transform: translate(-50%,-50%);
    color:#f39c12;
    font-size: 11px;
    width:fit-content;
    
}
.link-right{
    position: absolute;
    top:10%;
    right: 20%;
    transform: translate(-50%,-50%);
    display:inline-flex;
    justify-content: space-around;
    gap: 1rem;

}
.page-container{
    position: relative;
}
.button-signupforfree{
    position:absolute;
    top:85%;
    left:8%;
    transform: translate(-50%,-50%);
}
.button-learnmore{
    position:absolute;
    top:85%;
    left:20%;
    transform: translate(-50%,-50%);
}

.links-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    font-weight:lighter;
    color:rgb(87, 94, 94);
    width: 350px;
}

.links-wrapper> .nav-link {
   float:right;
   padding:0;
   margin:0;
   width:60%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.links-wrapper> .nav-link {
    list-style:none;
}

.links-wrapper > .nav-link a {
    display: block;
    text-transform:capitalize;
    padding: 30px;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.links-wrapper > .nav-link a:hover {

    color:#f39c12;
}

.links-wrapper>.spark {
 
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;
  
    font-family: 'Noto Sans', sans-serif;
}




nav>.link-right>.Create {
    color:white;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px 5px;
    margin: 0%;
    background-color:#222425 ;
}
.Create i {
    color:green;
}
.link-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

.search-icon i {
    font-size: 1em;
    color:#cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.link-right>.Signup {
    color:white;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px 5px ;
    margin: 0%;
    background-color:#222425 ;
  }
.link-right>.Login {
    color:white;
    font-size: 14px;
    font-weight: lighter;
    padding: 5px 5px;
    background-color:#222425 ;

  }